/************ Custom Font ************/
@font-face {
   font-family: Centra;
   src: url('./assets/font/CentraNo2-Bold.ttf');
   font-weight: 700;
}

@font-face {
   font-family: Centra;
   src: url('./assets/font/CentraNo2-Medium.ttf');
   font-weight: 500;
}

@font-face {
   font-family: Centra;
   src: url('./assets/font/CentraNo2-Book.ttf');
   font-weight: 400;
}

/************ Default Css ************/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   scroll-padding-top: 75px;
}

body {
   font-weight: 400;
   overflow-x: hidden;
   position: relative;
   /* background-color: var(--background-color) !important; */
   color: #fafafa !important;
   font-family: 'Centra', sans-serif !important;
}
/* 
a {
   color: var(--link-color)!important
} */
