@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   
/************ Custom Font ************/
   @font-face {
      font-family: Centra;
      src: url('../assets/font/CentraNo2-Bold.ttf');
      font-weight: 700;
   }

   @font-face {
      font-family: Centra;
      src: url('../assets/font/CentraNo2-Medium.ttf');
      font-weight: 500;
   }

   @font-face {
      font-family: Centra;
      src: url('../assets/font/CentraNo2-Book.ttf');
      font-weight: 400;
   }

   /************ Default Css ************/
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

   html {
      scroll-behavior: smooth;
   }

   body {
      font-weight: 400;
      overflow-x: hidden;
      position: relative;
      /* background-color: var(--background-color) !important; */
      
      /* @apply text-slate-100; */
      color: #fafafa !important;
      font-family: 'Centra', sans-serif !important;
   }

   @media screen and (min-width: 640px ) and (max-width: 768px) {
      html {
         scroll-padding-top: 45px;
      }
      
      
   }

     

}

@layer components {
   /* .card-skill {
      background-color: blue;
      posittion: relative;
   } */

   .card-project {
      @apply flex flex-col justify-start w-full max-w-xs bg-gradient-to-b from-teal-700 via-sky-700 to-teal-600 mx-auto rounded-md shadow-md hover:scale-105 transition-all duration-300 ease-out border-2 border-y-0 border-transparent hover:border-teal-400 relative;
   }
   .image-card-project {
      @apply flex-shrink-0 h-40 rounded-t-md relative;
   }
   .body-card-project {
      @apply flex-grow flex flex-col p-2;
   }
   .btn-card-project {
      @apply flex justify-center items-center gap-1.5 uppercase text-xs tracking-wider py-2 px-2.5 font-bold rounded-xl shadow-md cursor-pointer transition-all duration-300 ease-out
   }
   .tag-technology-project {
      @apply absolute -top-1.5 z-10 p-1.5 rounded-t-sm rounded-b-xl shadow-md  bg-rose-600 border border-rose-900 hover:scale-125 transition-transform duration-300 ease-out
   }
   .aux-tag-effect-project {
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 0 8px 6px 8px;
         border-color: transparent transparent rgb(190 18 60 / var(--tw-border-opacity)) transparent;
         position: absolute;
         top: -6px;
         right: -4px;
         z-index: -10;
   }

   .fav-button-project {
      @apply flex justify-center items-center p-1 mr-1 mx-auto rounded-full shadow-md cursor-pointer hover:scale-125 transition-all duration-200 ease-out;
   }
}

@layer utilities {
   .container {
      @apply max-w-5xl mx-auto px-2 sm:px-4
   }

   .text-primary {
      @apply text-slate-100;
   }

   .text-secondary {
      @apply text-slate-300;
   }

   .text-mutted {
      @apply text-slate-400;
   }

   .text-shadow-xs {
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
   }
   /* .color-primary,
   .navbar.color-primary a {
      color: var(--primary-color);
   }
   .border-primary {
      border-color: var(--primary-color);
   } */

   /* .hidden-delay-animation {
      animation-name: hidden-delay;
       animation-duration: 0.5s;
        animation-delay: 0.700s;
   }

   @keyframes hidden-delay {
      0% {
         opacity: 0.5;
      }
      100% {
         transform: scale(0);
      }
   } */

   .updown-animation {
      animation: updown 3s linear infinite;
   }

   @keyframes updown {
      0% {
         transform: translateY(-20px);
      }

      50% {
         transform: translateY(20px);
      }

      100% {
         transform: translateY(-20px);
      }
   }

   .intermittent-animation {
      animation: intermittent 1.1s linear infinite;
   }
   @keyframes intermittent {
      0% {
         opacity: 0;
      }

      25% {
         opacity: 0;
      }

      30% {
         opacity: 1;
      }
      100% {
         opacity: 1;
      }
   }
}