@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   
/************ Custom Font ************/
   @font-face {
      font-family: Centra;
      src: url('../assets/font/CentraNo2-Bold.ttf');
      font-weight: 700;
   }

   @font-face {
      font-family: Centra;
      src: url('../assets/font/CentraNo2-Medium.ttf');
      font-weight: 500;
   }

   @font-face {
      font-family: Centra;
      src: url('../assets/font/CentraNo2-Book.ttf');
      font-weight: 400;
   }

   /************ Default Css ************/
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
   }

   html {
      scroll-behavior: smooth;
   }

   body {
      font-weight: 400;
      overflow-x: hidden;
      position: relative;
      /* background-color: var(--background-color) !important; */
      
      /* @apply text-slate-100; */
      color: #fafafa !important;
      font-family: 'Centra', sans-serif !important;
   }

   @media screen and (max-width: 640px) {
      html {

      scroll-padding-top: 45px;
      }
      
   }

}

@layer components {
   /* .card-skill {
      background-color: blue;
      posittion: relative;
   } */
}

@layer utilities {
   .container {
      @apply max-w-5xl mx-auto px-2 sm:px-4
   }

   .text-primary {
      @apply text-slate-100;
   }

   .text-secondary {
      @apply text-slate-300;
   }

   .text-mutted {
      @apply text-slate-400;
   }
   /* .color-primary,
   .navbar.color-primary a {
      color: var(--primary-color);
   }
   .border-primary {
      border-color: var(--primary-color);
   } */

   .updown-animation {
      animation: updown 3s linear infinite;
   }

   @keyframes updown {
      0% {
         transform: translateY(-20px);
      }

      50% {
         transform: translateY(20px);
      }

      100% {
         transform: translateY(-20px);
      }
   }

   .intermittent-animation {
      animation: intermittent 1.1s linear infinite;
   }
   @keyframes intermittent {
      0% {
         opacity: 0;
      }

      25% {
         opacity: 0;
      }

      30% {
         opacity: 1;
      }
      100% {
         opacity: 1;
      }
   }
}