/*
bg-dark: #0D1321; text-contrast: #F0EBD8
rusian-blue: #1D2D44;  text-contrast: #F0EBD8
electric-blue: #3E5C76; text-contrast: #F0EBD8
shadow-blue: #748CAB; text-contrast-black: #0000
*/
/********* Custom Properties ***********/
:root {

   --primary-color: #155E75;

   --background-color: #F0EBD8;
   --background-color-rgb: 240, 235, 216;
   --bg-navbar: #0000ff52;
   --link-color: #046B99;
   --text-color: #1C304A;
   --text-color-rgb: 28, 48, 74;

   --light-blue-color: #748CAB;
   --medium-blue-color: #3E5C76;
   --dark-blue-color: #1D2D44;

   --text-contrast-primary-color: #F0EBD8;
   --text-contrast-secondary-color: #0000;


   --font: 'Montserrat', sans-serif;
   --reading-text-width: 900px;
   --max-width: 1200px;
   --header-height: 4rem;
}


body.dark-mode {
   --background-color: #1D2D44;
   --background-color-rgb: 41, 41, 41;
   --bg-navbar: #24ff9942;
   --link-color: #00CFFF;
   /*color: #dcdcdc**/
   --text-color: #F0EBD8;
   --text-color-rgb: 240, 235, 216;

   /* --light-blue-color: #FDFCF3;
   --medium-blue-color: #f6f2e3;
   --dark-blue-color: #F0EBD8; */
   --light-blue-color: #FAF8EB;
   --medium-blue-color: #F0EBD8;
   --dark-blue-color: #CEC39D;

}